/****************************************
/************* GRUNGE *******************
/****************************************

/* Text Colors
------------------------------------------------------- */
body,
#nav ul li a,
#nav_sub ul li a,
#supplemental_details p a,
#footer a,
.page_content a  {
	color: #342315;
}


/* Main Images
------------------------------------------------------- */

body { background: #342315 url(images/grunge/background.jpg) repeat-x 50% 0;}

#site_info_wrap { background: #a22a12 url(images/grunge/background.jpg) repeat 50% 0; }
#header_wrap { background: #eec15c url(images/grunge/background.jpg) repeat-x 50% -36px; }

#page_wrapper_outer { background: transparent url(images/grunge/background.jpg) repeat-x 50% -207px; }


#header h1#branding a {}


.comments ul li .comment_wrap .comment { background: transparent url(images/grunge/comment_body_repeat-y.png) repeat-y 0 0; }


#site_map {	background: transparent url(images/grunge/divider.png) repeat-x 0 100%; }
#legal { background: transparent url(images/grunge/divider.png) repeat-x left bottom; }




/* Main Sprite */
#site_info span.location span.icon,
#site_info span.time span.icon,
.comments input[type="submit"].submitcomment,
.navi a,
#downloadlatestsermon,
#followusontwitter,
a.readall,
a.readmore,
a.viewall,
a.viewmore,
a.download,
#supplemental_details a.twitter,
#supplemental_details a.facebook,
#supplemental_details a.flickr,
#supplemental_details p a.emailupdates span.icon,
#supplemental_details p a.inviteafriend span.icon {
	background-image: url(images/grunge/misc-sprite.png);
	background-color: transparent;
	background-repeat: no-repeat;
}

				#supplemental_details a.twitter {
					background: transparent url(images/grunge/twitter-grunge.png) no-repeat 0 0; */
				}
				
				#supplemental_details a.facebook {
					background: transparent url(images/grunge/facebook-grunge.png) no-repeat 0 0; */
				}
				#supplemental_details a.youtube {
					background: transparent url(images/grunge/youtube-grunge.png) no-repeat 0 0; */
				}
				#supplemental_details a.vimeo {
					background: transparent url(images/grunge/vimeo-grunge.png) no-repeat 0 0; */
				}
				#supplemental_details a.pinterest {
					background: transparent url(images/grunge/pinterest-grunge.png) no-repeat 0 0; */
				}
				
	#site_info span.location span.icon { background-position: 0 0; }
	#site_info span.time span.icon { background-position: -25px 0; }
	.comments input[type="submit"].submitcomment { background-position: -720px -25px; }
	.navi a { background-position: -75px 0; }
	#downloadlatestsermon { background-position: -100px 0; }
	#followusontwitter { background-position: -325px 0; }
	#supplemental_details p a.emailupdates span.icon { background-position: -215px -41px; }
	#supplemental_details p a.inviteafriend span.icon { background-position: -243px -41px; }




/* Form Sprite */
.comments ul li .comment_wrap,
.comments ul li .comment_bottom,
.comments ul li.admin .comment_wrap .comment .avatar,
#section_main .page_content p.field_text, p.comment-form-author, p.comment-form-email, p.comment-form-url, p.comment-form-comment,
div.field_message,
#search p.text_field, #search_widget p.text_field,
#search input[type="submit"], #search_widget input[type="submit"] {
	background-image: url(images/grunge/form-sprite.png);
	background-color: transparent;
	background-repeat: no-repeat;
}
	.comments ul li .comment_wrap { background-position: 0 0; }
	.comments ul li .comment_bottom { background-position: 0 -89px; }
	.comments ul li.admin .comment_wrap .comment .avatar { background-position: -19px -137px; }
	#section_main .page_content p.field_text,  p.comment-form-author { background-position: 0 -240px; }
	div.field_message, p.comment-form-comment { background-position: -240px -240px; }
	#search p.text_field, #search_widget p.text_field { background-position: 0 -360px; }
	#search input[type="submit"], #search_widget input[type="submit"] { background-position: -185px -360px; }



.comments ul li.admin .comment_wrap .comment {
	color: #f4edcc;
	text-shadow: #7b2311 0px -1px 1px;
}

/* Other Theme Styles
------------------------------------------------------- */

#page {
	padding-top: 0px;
}



#site_info_wrap, .location a {
	color: #f3eac8;
	text-shadow: #691b0c 0px 1px 1px;
}


#header h2 {
	color: #a42a12;
	text-shadow: #FFF 0px 1px 1px;
}

#header_wrap {
	height: 171px;
}

	#nav {
		width: 960px;
		margin: 20px 0px 0 0px;
	}

		#nav > .menu-header >  ul > li, #nav > .home-button >  ul > li {
			background: transparent;
			margin: 0 10px;
			width: 138px;
		}
		#nav > .menu-header >  ul > li a, #nav > .home-button >  ul > li a{
			color: #FFF;
		}
		#nav > .home-button >  ul > li:first-child  {
				width: 150px; /* make the first slightly longer to even total nav width to 980 wide */
				border-left: none;
		}
		
		#nav > .menu-header > ul > .current-menu-item > a, #nav > .home-button > ul > .current_page_item > a{
				background: #b22e13 url(images/grunge/nav_active.jpg) repeat center top;
				color: #FFF;
			}
			
		#nav > .menu_header > ul > li:first-child > a {
			width: 140px; /* cancel out making it longer as is set in base styles */
		}
		
		#nav > .menu-header >  ul > li > a:hover, #nav > .home-button >  ul > li > a:hover  {
				opacity: 1;
		}
			
		/* dropdown styling */
		#nav > .menu-header > ul > li > ul > li > a{
			color:#494949;
			text-decoration:none;
			display: block;
			width: 15em;
			padding: .8em 1em;
			border-bottom:1px solid #CBC8B1;
			background: #f8f8f6 url(images/grunge/paper_texture.jpg) repeat center center;
		}

		#nav > .menu-header > ul > li > ul > li a:hover{
			background: #d5d0b7 url(images/grunge/brown_header_paper.jpg) repeat 100px 0;
		}

		#nav > .menu-header > ul > li > ul > li > a:hover{
			background: #d5d0b7 url(images/grunge/brown_header_paper.jpg) repeat 100px 0;
			opacity: 1;
		} 
		
		
		
		/*drop down */
		#nav > .menu-header > ul > li > ul > li > a{
			color:#494949;
			text-decoration:none;
			display: block;
			width: 15em;
			padding: .8em 1em;
			border-bottom:1px solid #CBC8B1;
			background: #f8f8f6 url(images/grunge/paper_texture.jpg) repeat center center;
		}
		#nav > .menu-header > ul > li > ul li a{
			color:#494949;
			text-decoration:none;
			width: 15em;
			padding: .8em 1em;
			border-bottom:1px solid #CBC8B1;
			background: #f8f8f6 url(images/grunge/paper_texture.jpg) repeat center center;
		}

		#nav > .menu-header > ul > li > ul > li a:hover{
			background: #d5d0b7 url(images/grunge/brown_header_paper.jpg) repeat 100px 0;
		}

		#nav > .menu-header > ul > li > ul > li > a:hover{
			background: #d5d0b7 url(images/grunge/brown_header_paper.jpg) repeat 100px 0;
			opacity: 1;
		} 


#section_main,
#section_supplemental .module .content,
.navi {
	background: #f8f8f6 url(images/grunge/paper_texture.jpg) repeat center center;
}

#section_main.inner_page {
	background: #f4f1e3 url(images/grunge/paper_texture.jpg) repeat-x 0 0;
}


.news_strip { background: #2b1e13 url(images/grunge/dark_paper_texture.jpg) repeat center center; }

#section_supplemental .module .header,
#supplemental_details { background: #d5d0b7 url(images/grunge/brown_header_paper.jpg) repeat center center; }


.navi_wrap {		
	border-top: 1px solid #b7af95;
}

#site_map,
#site_map a,
.news_strip,
#legal,
#legal a {
	color: #e9e6d9;
	text-shadow: #000 0 1px 1px;
}

p.field_text input{
	color: #362315;
}



/* Blog List
------------------------------------------------------- */
#bloglist thead th {
	background: #d5d0b7 url(images/grunge/brown_header_paper.jpg) repeat center center;
	color: #342315;
}

#bloglist tbody td {
	border-bottom: 1px solid #b7af95;
}


/* Nav Sub
------------------------------------------------------- */

#nav_sub ul ul {
	background: none;
	border: 1px solid;
	border-bottom: 1px solid;
	border-color:#FFFFFF #E4DCC2 #E4DCC2;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;
	width:203px;
}


		




	
/* Aside Modules
------------------------------------------------------- */


.aside .module {
	width: 220px;
	float: left;
	margin: 20px 0 0 0;
}


	.aside h3 {
		background: #d5d0b7 url(images/grunge/brown_header_paper.jpg) repeat 100px 0;
		border: 1px solid #d4c38f;
		float: left;
		width: 180px;
		padding: 10px 20px;
		font-size: 18px;
		text-shadow: #FFF 0px 1px 1px;
		font-weight: 500;
		float: left;
		font-family: "MuseoSans500";
	}
		
	
	/* content */
	
	/* content below sidebar title in sidebar */
	.aside div {
		padding: 10px 20px;
		border: 1px solid #e4dcc2;
		border-top: 1px solid #FFF;
		float: left;
		width: 180px;
		font-size: 12px;
		font-family: "Helvetica Neue", Helvetica, Geneva, Arial, Verdana, sans-serif;
		line-height: 18px;
		text-shadow: #FFF 0px 1px 1px;
		margin-bottom:20px;
	}
	/* Lists in sidebar */
	.aside  ul  ul {
		background-color: #f9f8f3;
		float: left;
		width: 220px;
		font-size: 12px;
		font-family: "Helvetica Neue", Helvetica, Geneva, Arial, Verdana, sans-serif;
		line-height: 18px;
		text-shadow: #FFF 0px 1px 1px;
		margin-bottom:20px;
	}
	
		.aside .content h2 {
			font-size: 18px;
			font-weight: 400;
		}
		
		.aside .content h4 {
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 10px;
		}
		
		.aside p { line-height: 18px; margin-bottom: 10px; }
		
		.aside a.download { float: right; }
		
		#search_widget{
			float:left;	
		}
		
